# Build package artefacts
build/
kcpdi.egg-info/
# Sphinx documentation
docs/_build/

# Cache folder
.ruff_cache/
.pytest_cache/
*__pycache__*
*.ipynb_checkpoints*
.coverage


# Sphinx documentation
docs/_build/
docs/build
docs/source/_static
docs/source/examples
docs/source/kcpdi*.rst

